/**** All these variables used in the base settings for html5 boilerplate *****/

$base-font-family: unquote('sans-serif');  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$font-color: #222;



$link-color: #00e;

$link-hover-color: #06e;

$link-visited-color: #551a8b;



$selected-font-color: #fff;  // color for selected text

$selected-background-color: #fe57a1;  // bg-color for selected text THIS IS HOT PINK, so need to change to something that fits website colors



$blockquote-margin: 1em 40px;

$hr: 1px solid #ccc;



$list-left-margin: 40px;  // left margin for ul an ol



$form-validity-color: #f0dddd;  // Colors for form validity

/**** End variables for html5 boilerplate *****/

/*** Override settings used in new css for website ***/

/*** END Override settings used in new css for website ***/